body {
    background: #01303a;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.card {
    width: 550px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 30px 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    font-size: 14px;
    color: #0cad7d;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

textarea {
    height: 90px;
    resize: none;
}

.inline-list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.inline-list label {
    font-size: 13px;
    color: #555;
}

.income-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.value-box {
    background: #1abc9c;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 13px;
}

.create-btn {
    background: #1abc9c;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 6px;
    align-self: flex-end;
    cursor: pointer;
    font-size: 15px;
}

.create-btn:hover {
    background: #18a57f;
}

